.rightdatee{
    position: absolute; 
    right: 0; 
    margin-right: 20px; 
    font-size: 15px;
}
.addcomment{
    position: absolute; 
    right: 0; 
    margin-right: 30px; 
    color: white;
}
.rightitem {
    position: absolute; 
    right: 0; 
    margin-right: 10px;
    flex: 1;
}
.toggle-comments {
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
