<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspyme</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="https://kit.fontawesome.com/c5605fe4ba.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".read-more").click(function(){
    $(this).prev(".hidden-content").show();
    $(this).remove();
  });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $(".toggle-comments").click(function() {
        var container = $(this).closest('.card').find('.comments-container');
        container.toggle();
        if (container.is(':visible')) {
            $(this).text('Hide Comments');
        } else {
            $(this).text('Show Comments');
        }
    });
});
</script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" {% if user.is_authenticated %} href="{% url 'home'%}" {% else %} href="{% url 'login_page'%}" {% endif %}><strong><span style="color: #EAC117;">INSPY</span>ME</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                {% url 'home' as home %}
                <a class="nav-link {% if home == request.path %} active {% endif %}" aria-current="page" href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
              </li>
              <li class="nav-item">
                {% url 'mystory' as mystory %}
                <a class="nav-link {% if mystory == request.path %} active {% endif %} " href="{% url 'mystory' %}"><i class="fa-sharp fa-solid fa-blog"></i> My stories</a>
              </li>
              
              <li class="nav-item">
                {% url 'editaccount' as editaccount %}
                <a class="nav-link {% if editaccount == request.path %} active {% endif %}" aria-current="page" href="{% url 'editaccount' request.user.id %}"><i class="fa-solid fa-user"></i> Account</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_logout' %}"> Logout</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-sharp fa-solid fa-question"></i> Help</a>
              </li>
              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" href="#"> Welcome, {{request.user.get_full_name}}</a>
              </li>
              {% endif %}
            </ul>
            
                
              
          </div>
        </div>
      </nav>
    {% block content %}


    {% endblock content %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>